<div class="modal fade" id="addMealModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id='modalTitle' class="modal-title"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--meal name input, add search function-->
        <img id="img" name="img" src="" alt="" style="display: none; width:450px;">
        <p></p>
        <form id="mealForm" autocomplete="off" action="/addLog" method="POST">
          <div class="autocomplete" style="width:500px;">
            <input id="mealName" type="text" name="name" placeholder="Meal Name" onchange="resetRecID()" style="width: 400px">
          </div>
          
          <!--Image URL-->
          <div id="imgblock" class="form-group row" style="margin-top: 20px">
            <div class="col-sm-8" style="width: 500px">
              <input type="url" placeholder="Image URL" id="imageurl" name="imageurl" onchange="resetRecID()" style="width: 400px">
            </div>
          </div>
          <!--Number of Servings-->
          <div class="form-group row" style="margin-top: 20px;">
            <label for="servings" class="col-sm-2 col-form-label" >Servings</label>
            <div class="col-sm-3">
              <input type="number" class="form-control" id="servings" name="servings" value="1">
            </div>
          </div>
          <!--Nutrition per 1 serving-->
          <!--Calories-->
          <p style="margin-left: 20px; height:30px;">Nutrition per 1 serving:</p>
          
 

          <%

          var nutrientBlocks='';
          nutrients.fields.forEach(function(item) {
            label=nutrients.info[item].label;
            if (nutrients.info[item].units!='') {
              label+=' ('+nutrients.info[item].units+')';
            }

            nutrientBlocks+=
            `<div class="form-group row" style="height: 50px; margin-left:40px">
              <label for="`+item+`" class="col-sm-3 col-form-label">`+label+`</label>
              <div class="col-sm-4" style="width:150px">
                <input type="number" class="form-control" id="`+item+`" name="`+item+`" onchange="resetRecID()">
              </div>
            </div>`
          });
          %>
          <%- nutrientBlocks %>

          <input type="hidden" id="modalYear" name="year"/>
          <input type="hidden" id="modalWeek" name="week"/>
          <input type="hidden" id="modalDay"  name="day"/>


          
          <!--Save to library checkbox-->
          <div id="saveRecipeCheck" style="display: none">
            <input type="checkbox" id="saveRecipe" name="saveRecipe">
            <label for="saveRecipe"> Save recipe in library? </label><br><br>
          </div>
          <!--Save/Cancel-->
            <div id='modalFooter' class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: rgb(237, 237, 237); color: rgb(139, 140, 142); border-color: rgb(139, 140, 142);">Close</button>
              <button type="submit" class="btn btn-primary" id="saveMeal" name="saveMeal" value="None" style="background-color: rgb(233, 242, 255); color: rgb(0, 102, 255); border-color: rgb(0, 102, 255);">Save
                changes</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
  </div>


