<footer>
		<div style="width:100%;display:flex;justify-content: center;padding:20px 0 20px 0;background-color:#ccc">
		  <p>
			&copy; Copyright 2022 : csci3308project NutriLog
		  </p>
		</div>
</footer>
  </body>
</html>

