<style>
ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: #ccc;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

.bg-light {
    background-color: #ccc!important;
}

</style>

<header style="margin-top:0; padding-top:0;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">
	
      <li class="nav-item" style="margin-right:20px">
		<a href="/create">Create Account</a>
      </li>
	  
      <li class="nav-item" style="margin-right:20px">
		<a href="/login">Login</a>
      </li>
	  
      <li class="nav-item" style="margin-right:20px">
		<a href="/home">Home</a>
      </li>
    
      <li class="nav-item" style="margin-right:20px">
		<a href="/discover">Discover</a>
      </li>
	  
      <li class="nav-item" style="margin-right:20px">
		<a href="/logout">Logout</a>
      </li>

	  <li class="nav-item" style="margin-right:10px">
        <a href="/profile">Profile</a>
      </li>
	  
    </ul>
  </nav>
</header>