<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>


<main>
  <div class="container" style="width:80%;margin-left:10%; margin-top: 20px;">
	<h2>Create NutriLog Account</h2>
	<form action="/create" method="post">
	   <table>
		
		<tr>
		  <td style="text-align:left;width:100px">
		  <label for="username">Username: </label>
		  </td>
		  <td style="text-align:left;width:200px">
		  <input type="text" id="username" name="username">
		  </td>
		</tr>
		
		<tr>
		  <td style="text-align:left;width:100px">
		  <label for="password">Password: </label>
		  </td>
		  <td style="text-align:left;width:200px">
		  <input type="text" id="password" name="password">
		  </td>
		</tr>
		
		<tr>
		  <td><p style="font-size:11px;width:200px">Already have an account? <a href="/login">Login</a></p></td>
		  <td style="text-align:right">
		  <input type="submit" value="Create Account" style="background-color:#2856D5;color:#fff">
		  </td>
		</tr>
		
	    </table>
	  </form>
	  <br><br>
	    <p>A valid password should be at least 8 characters long, should have one lowercase character, one uppercase character, one numeric digit between 0 and 9, and one special character. Special character must be one of this ( ~ ! # * $ @ _ % + = . , & ( ) { } | ; : < > ?) </p>
  </div>

</main>

<%- include ('../partials/footer') %>
