<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h3 style="width:50%;margin:50px">Logged out successfully !!</h3>
  </div>
</main>

<%- include ('../partials/footer') %>